.showtimedata{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.49933476808692223) 50%, rgba(0,0,0,1) 100%),url(../images/getalldish.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 60vh;
    .row{
        h1{
            padding:  1rem 0;
            font-family: 'Rancho', cursive;
            font-size: 4rem;
            text-transform: capitalize;
            color: var(--light);
            display: block;
            text-align: center;
        }
    }
    .overFlow{
        overflow: auto;
    }
}